#common
target/
out/
classes/
stress/logs/
logs/
syntax:glob
*.swp
*.log
pom.xml.versionsBackup
HELP.md
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse Project Files
.settings/
.gwt/
.project
.classpath
.externalToolBuilders

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# MAC_OSX
*.DS_Store

version.properties
git.properties
[Bb]in/
/[Bb]in/